Flights

<table>
  <thead>
    <tr>
      <th>Scheduled Time</th>
      <th>Delayed Time</th>
      <th>Airline</th>
      <th>Flying To</th>
      <th>Gate</th>
      <th>Terminal</th>
      <th>Flight Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'flight', collection: departure_flights %>
  </tbody>
</table>
